// 背景色
$body-background-color: #e4f0f9;

// フォント
$font-base-family: "Noto Sans JP", sans-serif;
$font-base-size: 0.9rem;
$font-base-color: #6d6f70;

// hover時のopacity
$hovered-opacity: 0.7;

// box-shadow
$box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
