@charset "UTF-8";

// Variables
@import "variables";

html {
  height: 100%;
  font-family: $font-base-family;
  font-size: 100%;
}

body {
  height: 100%;
  background-color: $body-background-color;
  font-size: $font-base-size;
  color: $font-base-color;
}

a {
  text-decoration: none;
  color: $font-base-color;

  &:hover {
    opacity: $hovered-opacity;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 170px;
  text-align: center;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.5s;
}

.btn-gray {
  border: 2px solid gray;
  color: gray;
  &:hover {
    background-color: gray;
    color: white;
  }
}

/************************************************
ヘッダー header
************************************************/
$header-height: 60px;
$hamburger-menu-icon-color: gray;
$hamburger-menu-background-color: gray;
#header {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 5;
  box-shadow: $box-shadow;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
    }

    #pc-nav {
      .menu-list {
        display: flex;
        li {
          a {
            display: block;
            padding: 0 15px;
            line-height: $header-height;
            position: relative;
            overflow: hidden;

            &::after {
              position: absolute;
              display: block;
              content: "";
              bottom: -3px;
              left: 0;
              background-color: #6d6f70;
              height: 3px;
              width: 100%;
              transition: 0.2s;
            }

            &:hover {
              &::after {
                bottom: 0;
              }
            }
          }
        }
      }
    }

    #sp-nav {
      display: none;

      #hamburger-menu {
        display: none;

        &:checked {
          + #hamburger-menu-icon {
            span {
              position: absolute;
              top: 50%;
              &:nth-of-type(1) {
                transform: translateY(-50%) rotate(45deg);
              }

              &:nth-of-type(2) {
                transform: translateY(-50%) rotate(135deg);
              }

              &:nth-of-type(3) {
                transform: scale(0);
              }
            }
          }
          ~ .menu-list {
            right: 0;
          }
        }
      }

      #hamburger-menu-icon {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 50%;
        background-color: $hamburger-menu-icon-color;
        cursor: pointer;
        z-index: 100;

        &:hover {
          opacity: $hovered-opacity;
        }

        span {
          display: block;
          height: 3px;
          background-color: #ffffff;
          transition: transform 0.5s;

          &:nth-of-type(1) {
            width: 20px;
            margin-bottom: 5px;
          }

          &:nth-of-type(2) {
            width: 20px;
            margin-bottom: 5px;
          }

          &:nth-of-type(3) {
            width: 15px;
          }
        }
      }

      .menu-list {
        position: fixed;
        width: 220px;
        height: calc(100vh - #{$header-height});
        top: $header-height;
        right: -220px;
        background-color: $hamburger-menu-background-color;
        transition: right 0.5s;
        z-index: 10;

        li {
          a {
            display: block;
            padding: 15px;
            color: white;
            font-size: 1.2rem;
            text-align: center;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

/************************************************
メインコンテンツ main
************************************************/
#main {
  margin-top: $header-height;
  padding: 20px 0;
  height: 600px;
}

/************************************************
ホーム画面 home
************************************************/
#home {
  height: 100%;
  .home-inner {
    height: 100%;
    .home-img {
      position: relative;
      display: block;
      height: 100%;
      background-color: rgb(121, 203, 250);

      &:hover {
        opacity: 1;
      }

      .start-text {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
      }
    }
  }
}

/************************************************
メニュー画面 menu
************************************************/
#menu {
  height: 100%;
  .menu-inner {
    height: 100%;

    .menu-select {
      height: 100%;
      display: flex;
      flex-direction: column;

      .menu-item {
        cursor: pointer;
        height: calc(100% / 3);
        position: relative;
        .title {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          .title-en {
            display: inline-block;
            font-size: 1.3rem;
            font-weight: bold;
            color: white;
          }
          .title-ja {
            display: inline-block;
            font-size: 1.3rem;
            font-weight: bold;
            color: white;
          }
        }

        &.fill {
          background-color: rgb(240, 145, 145);
          .title {
            left: 10%;
          }
        }

        &.quiz {
          background-color: rgb(131, 131, 241);
          .title {
            right: 10%;
          }
        }

        &.typing {
          background-color: rgb(248, 248, 167);
          .title {
            left: 10%;
          }
        }
      }
    }
  }
}

/************************************************
設定画面 setting
************************************************/
.setting {
  height: 100%;
  background-color: antiquewhite;
  position: relative;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-en {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: bold;
      color: white;
    }

    .title-ja {
      display: inline-block;
      font-size: 1.3rem;
      font-weight: bold;
      color: white;
    }
  }

  .btn-back-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn-start-wrapper {
    display: flex;
    justify-content: center;
  }

  .setting-time-limit,
  .setting-quiz-count,
  .setting-audio {
    .checkbox {
      display: none;

      + label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 11px 0px 11px 45px;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        &::before {
          width: 38px;
          height: 18px;
          left: 0;
          border: 1px solid #e4e3e1;
          border-radius: 18px;
          background-color: #ffffff;
        }

        &::after {
          width: 19px;
          height: 18px;
          left: 0;
          border-radius: 50%;
          background-color: #bdbdbd;
          transition: all 0.3s ease-out;
        }
      }

      &:checked + label::after {
        left: 19px;
        background-color: rgb(47, 194, 145);
      }

      &:not(:checked) ~ .select-wrapper {
        display: none;
      }
    }

    .select-wrapper {
      display: inline-block;
      width: 75px;
      margin-left: 7px;
      position: relative;
      border: 2px solid rgb(47, 194, 145);
      border-radius: 35px;
      background-color: white;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 5px solid #383e45;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        z-index: -1;
      }

      .select {
        width: 100%;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        appearance: none;
        padding: 4px 30px 4px 10px;
      }
    }
  }

  .setting-choice-type {
    .radio-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      input {
        display: none;

        &:checked + label {
          background-color: #5aaefd;
          border: 3px solid #0b88fd;
          color: white;
          &:hover {
            opacity: 1;
          }
        }
      }

      label {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        width: 50%;
        padding: 5px;
        border: 3px solid transparent;
        border-radius: 5px;
        background-color: #dfdfdf;
        font-size: 1.1rem;
        transition: 0.4s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

/************************************************
地図埋め画面 fill-map
************************************************/
#fill-map {
  height: 100%;
  .fill-map-inner {
    height: 100%;

    .game {
      height: 100%;
      display: flex;
      flex-direction: column;
      .map-wrapper {
        height: 90%;
        text-align: center;
        svg {
          height: 100%;
          width: 100%;

          .cls-1 {
            fill: #fff;
            &:hover {
              fill: rgb(47, 194, 145);
              opacity: 0.7;
            }
            &.disabled {
              fill: rgb(139, 156, 151) !important;
              opacity: 1 !important;
              &:hover {
                fill: rgb(139, 156, 151) !important;
                opacity: 1 !important;
              }
            }
            &.inputed {
              fill: rgb(67, 112, 209);
            }
            &.fill {
              fill: rgb(47, 194, 145);
              opacity: 0.7;
            }
            &[data-name="siga-2"]:hover {
              fill: #fff;
            }
            &.correct {
              fill: rgb(123, 224, 191);
            }
            &.incorrect {
              fill: rgb(235, 150, 150);
            }
          }
          .cls-1,
          .cls-2 {
            stroke: #7c7c7c;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 0.48px;
            fill-rule: evenodd;
          }
          .cls-2 {
            fill: none;
          }
        }
      }
      .btn-wrapper {
        height: 10%;
      }
    }
  }
}

/************************************************
地図クイズ画面 quiz-map
************************************************/
#quiz-map {
  height: 100%;
  .quiz-map-inner {
    height: 100%;

    .game {
      height: 100%;

      .img-wrapper {
        display: flex;
        justify-content: center;

        .svg-default {
          fill: rgb(47, 194, 145);
          stroke: #7c7c7c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.48px;
          fill-rule: evenodd;
        }
      }

      .choices {
        .item {
          .judge.correct {
            color: green;
          }
          .judge.incorrect {
            color: red;
          }
        }
      }
    }

    .result {
      height: 100%;
      .table-wrapper {
        display: flex;
        .table {
          th,
          td {
            padding: 10px;
          }
        }
        .btn-wrapper {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

/************************************************
地図タイピング画面 typing-map
************************************************/
#typing-map {
  height: 100%;
  .typing-map-inner {
    height: 100%;

    .count-down {
      width: 100%;
      height: 100%;
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        font-weight: bold;
        color: orange;
        opacity: 0;
        user-select: none;

        &:nth-child(1) {
          animation: count-down 1s 0s;
        }

        &:nth-child(2) {
          animation: count-down 1s 1s;
        }

        &:nth-child(3) {
          animation: count-down 1s 2s;
        }

        @keyframes count-down {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    .game {
      .progress {
        display: inline-block;
        width: 100%;
        border-radius: 15px;
        height: 10px;
        background-color: #e9edf1;
        position: relative;

        .progress-bar {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 15px;
          width: 0%;
          height: 100%;
          background-color: rgb(0, 230, 100);
          transition: all 10ms linear;
        }
      }
      .img-wrapper {
        display: flex;
        justify-content: center;
        .svg-default {
          fill: rgb(47, 194, 145);
          stroke: #7c7c7c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.48px;
          fill-rule: evenodd;
        }
      }

      .text-wrapper {
        .hint {
        }
        .quiz {
        }
        .kana {
        }
        .typing {
          display: flex;
          .inputed {
            color: orange;
          }
          .remaining {
          }
        }
      }
    }

    .result {
      height: 100%;
      .table-wrapper {
        display: flex;
        .table {
          th,
          td {
            padding: 10px;
          }
        }
        .btn-wrapper {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

/************************************************
フッター footer
************************************************/
$footer-height: 50px;
#footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  height: $footer-height;
  .footer-inner {
    .copyright {
      font-size: $font-base-size;
      color: white;
      .icon {
        margin-right: 5px;
      }
    }
  }
}

/************************************************
modal
************************************************/
#alert-modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .modal-container {
      width: 300px;
      margin: 0px auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    }
  }
}

#input-modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .modal-container {
      width: 300px;
      margin: 0px auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

      .img-wrapper {
        display: flex;
        justify-content: center;

        .svg-default {
          fill: #fff;
          stroke: #7c7c7c;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.48px;
          fill-rule: evenodd;

          &.correct {
            fill: rgb(123, 224, 191);
          }
          &.incorrect {
            fill: rgb(235, 150, 150);
          }
        }
      }

      .mode-input {
        .input-place-name {
          .select-wrapper {
            display: inline-block;
            width: 75px;
            margin-left: 7px;
            position: relative;
            border: 2px solid rgb(47, 194, 145);
            border-radius: 35px;
            background-color: white;
            z-index: 0;

            &::before {
              content: "";
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: 5px solid #383e45;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              z-index: -1;
            }

            .select {
              width: 100%;
              cursor: pointer;
              border: none;
              outline: none;
              background: transparent;
              background-image: none;
              box-shadow: none;
              appearance: none;
              padding: 4px 30px 4px 10px;
            }
          }
        }
      }
      .mode-confirm {
        .confirm-text {
          display: flex;
        }
      }
    }
  }
}

#confirmation-modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    .modal-container {
      width: 300px;
      margin: 0px auto;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);

      .empty-message {
      }
      .confirmation-message {
      }
      .btn-wrapper {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

/************************************************
メディアクエリ
************************************************/
@media screen and (max-width: 599px) {
  /************************************************
  ヘッダー header
  ************************************************/
  #header {
    .header-inner {
      .logo {
      }

      #pc-nav {
        display: none;
      }

      #sp-nav {
        display: block;
      }
    }
  }
}
