@charset "UTF-8";
html {
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
}

body {
  height: 100%;
  background-color: #f8fafc;
  font-size: 0.9rem;
  color: #6d6f70;
}

a {
  text-decoration: none;
  color: #6d6f70;
}
a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 170px;
  text-align: center;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.5s;
}

.btn-gray {
  border: 2px solid gray;
  color: gray;
}
.btn-gray:hover {
  background-color: gray;
  color: white;
}

/************************************************
ヘッダー header
************************************************/
#header {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#header .header-inner #pc-nav .menu-list {
  display: flex;
}
#header .header-inner #pc-nav .menu-list li a {
  display: block;
  padding: 0 15px;
  line-height: 60px;
  position: relative;
  overflow: hidden;
}
#header .header-inner #pc-nav .menu-list li a::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -3px;
  left: 0;
  background-color: #6d6f70;
  height: 3px;
  width: 100%;
  transition: 0.2s;
}
#header .header-inner #pc-nav .menu-list li a:hover::after {
  bottom: 0;
}
#header .header-inner #sp-nav {
  display: none;
}
#header .header-inner #sp-nav #hamburger-menu {
  display: none;
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span {
  position: absolute;
  top: 50%;
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(1) {
  transform: translateY(-50%) rotate(45deg);
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(2) {
  transform: translateY(-50%) rotate(135deg);
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(3) {
  transform: scale(0);
}
#header .header-inner #sp-nav #hamburger-menu:checked ~ .menu-list {
  right: 0;
}
#header .header-inner #sp-nav #hamburger-menu-icon {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  z-index: 100;
}
#header .header-inner #sp-nav #hamburger-menu-icon:hover {
  opacity: 0.7;
}
#header .header-inner #sp-nav #hamburger-menu-icon span {
  display: block;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.5s;
}
#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(1) {
  width: 20px;
  margin-bottom: 5px;
}
#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(2) {
  width: 20px;
  margin-bottom: 5px;
}
#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(3) {
  width: 15px;
}
#header .header-inner #sp-nav .menu-list {
  position: fixed;
  width: 220px;
  height: calc(100vh - 60px);
  top: 60px;
  right: -220px;
  background-color: gray;
  transition: right 0.5s;
  z-index: 10;
}
#header .header-inner #sp-nav .menu-list li a {
  display: block;
  padding: 15px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.5s;
}

/************************************************
メインコンテンツ main
************************************************/
#main {
  margin-top: 60px;
  padding: 20px 0;
  height: 600px;
}

/************************************************
ホーム画面 home
************************************************/
#home {
  height: 100%;
}
#home .home-inner {
  height: 100%;
}
#home .home-inner .home-img {
  position: relative;
  display: block;
  height: 100%;
  background-color: #79cbfa;
}
#home .home-inner .home-img:hover {
  opacity: 1;
}
#home .home-inner .home-img .start-text {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

/************************************************
メニュー画面 menu
************************************************/
#menu {
  height: 100%;
}
#menu .menu-inner {
  height: 100%;
}
#menu .menu-inner .menu-select {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#menu .menu-inner .menu-select .menu-item {
  cursor: pointer;
  height: 33.3333333333%;
  position: relative;
}
#menu .menu-inner .menu-select .menu-item .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .menu-inner .menu-select .menu-item .title .title-en {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
#menu .menu-inner .menu-select .menu-item .title .title-ja {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
#menu .menu-inner .menu-select .menu-item.fill {
  background-color: #f09191;
}
#menu .menu-inner .menu-select .menu-item.fill .title {
  left: 10%;
}
#menu .menu-inner .menu-select .menu-item.quiz {
  background-color: #8383f1;
}
#menu .menu-inner .menu-select .menu-item.quiz .title {
  right: 10%;
}
#menu .menu-inner .menu-select .menu-item.typing {
  background-color: #f8f8a7;
}
#menu .menu-inner .menu-select .menu-item.typing .title {
  left: 10%;
}

/************************************************
（共通）設定画面 setting
************************************************/
.setting {
  height: 100%;
  background-color: antiquewhite;
  position: relative;
}
.setting .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.setting .title .title-en {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
.setting .title .title-ja {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
.setting .btn-back-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.setting .btn-start-wrapper {
  display: flex;
  justify-content: center;
}
.setting .setting-time-limit .checkbox,
.setting .setting-quiz-count .checkbox,
.setting .setting-audio .checkbox {
  display: none;
}
.setting .setting-time-limit .checkbox + label,
.setting .setting-quiz-count .checkbox + label,
.setting .setting-audio .checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 11px 0px 11px 45px;
}
.setting .setting-time-limit .checkbox + label::before, .setting .setting-time-limit .checkbox + label::after,
.setting .setting-quiz-count .checkbox + label::before,
.setting .setting-quiz-count .checkbox + label::after,
.setting .setting-audio .checkbox + label::before,
.setting .setting-audio .checkbox + label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.setting .setting-time-limit .checkbox + label::before,
.setting .setting-quiz-count .checkbox + label::before,
.setting .setting-audio .checkbox + label::before {
  width: 38px;
  height: 18px;
  left: 0;
  border: 1px solid #e4e3e1;
  border-radius: 18px;
  background-color: #ffffff;
}
.setting .setting-time-limit .checkbox + label::after,
.setting .setting-quiz-count .checkbox + label::after,
.setting .setting-audio .checkbox + label::after {
  width: 19px;
  height: 18px;
  left: 0;
  border-radius: 50%;
  background-color: #bdbdbd;
  transition: all 0.3s ease-out;
}
.setting .setting-time-limit .checkbox:checked + label::after,
.setting .setting-quiz-count .checkbox:checked + label::after,
.setting .setting-audio .checkbox:checked + label::after {
  left: 19px;
  background-color: #2fc291;
}
.setting .setting-time-limit .checkbox:not(:checked) ~ .select-wrapper,
.setting .setting-quiz-count .checkbox:not(:checked) ~ .select-wrapper,
.setting .setting-audio .checkbox:not(:checked) ~ .select-wrapper {
  display: none;
}
.setting .setting-time-limit .select-wrapper,
.setting .setting-quiz-count .select-wrapper,
.setting .setting-audio .select-wrapper {
  display: inline-block;
  width: 75px;
  margin-left: 7px;
  position: relative;
  border: 2px solid #2fc291;
  border-radius: 35px;
  background-color: white;
  z-index: 0;
}
.setting .setting-time-limit .select-wrapper::before,
.setting .setting-quiz-count .select-wrapper::before,
.setting .setting-audio .select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #383e45;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: -1;
}
.setting .setting-time-limit .select-wrapper .select,
.setting .setting-quiz-count .select-wrapper .select,
.setting .setting-audio .select-wrapper .select {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 4px 30px 4px 10px;
}

/************************************************
地図埋め画面 fill-map
************************************************/
#fill-map {
  height: 100%;
}
#fill-map .fill-map-inner {
  height: 100%;
}

/************************************************
地図クイズ画面 quiz-map
************************************************/
#quiz-map {
  height: 100%;
}
#quiz-map .quiz-map-inner {
  height: 100%;
}
#quiz-map .quiz-map-inner .game {
  height: 100%;
}
#quiz-map .quiz-map-inner .game .choices .item .judge.correct {
  color: green;
}
#quiz-map .quiz-map-inner .game .choices .item .judge.incorrect {
  color: red;
}
#quiz-map .quiz-map-inner .result {
  height: 100%;
}
#quiz-map .quiz-map-inner .result .table-wrapper {
  display: flex;
}
#quiz-map .quiz-map-inner .result .table-wrapper .table th,
#quiz-map .quiz-map-inner .result .table-wrapper .table td {
  padding: 10px;
}
#quiz-map .quiz-map-inner .result .table-wrapper .btn-wrapper {
  display: flex;
  flex-direction: column;
}

/************************************************
地図タイピング画面 typing-map
************************************************/
#typing-map {
  height: 100%;
}
#typing-map .typing-map-inner {
  height: 100%;
}
#typing-map .typing-map-inner .count-down {
  width: 100%;
  height: 100%;
  position: relative;
}
#typing-map .typing-map-inner .count-down p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  color: orange;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#typing-map .typing-map-inner .count-down p:nth-child(1) {
  -webkit-animation: count-down 1s 0s;
          animation: count-down 1s 0s;
}
#typing-map .typing-map-inner .count-down p:nth-child(2) {
  -webkit-animation: count-down 1s 1s;
          animation: count-down 1s 1s;
}
#typing-map .typing-map-inner .count-down p:nth-child(3) {
  -webkit-animation: count-down 1s 2s;
          animation: count-down 1s 2s;
}
@-webkit-keyframes count-down {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes count-down {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
#typing-map .typing-map-inner .game .text-wrapper .typing {
  display: flex;
}
#typing-map .typing-map-inner .game .text-wrapper .typing .inputed {
  color: orange;
}
#typing-map .typing-map-inner .result {
  height: 100%;
}
#typing-map .typing-map-inner .result .table-wrapper {
  display: flex;
}
#typing-map .typing-map-inner .result .table-wrapper .table th,
#typing-map .typing-map-inner .result .table-wrapper .table td {
  padding: 10px;
}
#typing-map .typing-map-inner .result .table-wrapper .btn-wrapper {
  display: flex;
  flex-direction: column;
}

/************************************************
フッター footer
************************************************/
#footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  height: 50px;
}
#footer .footer-inner .copyright {
  font-size: 0.9rem;
  color: white;
}
#footer .footer-inner .copyright .icon {
  margin-right: 5px;
}

/************************************************
modal
************************************************/
#alert-modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}
#alert-modal-mask .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
#alert-modal-mask .modal-wrapper .modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

/************************************************
メディアクエリ
************************************************/
@media screen and (max-width: 599px) {
  /************************************************
  ヘッダー header
  ************************************************/
  #header .header-inner #pc-nav {
    display: none;
  }
  #header .header-inner #sp-nav {
    display: block;
  }
}
