@charset "UTF-8";
html {
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
}

body {
  height: 100%;
  background-color: #e4f0f9;
  font-size: 0.9rem;
  color: #6d6f70;
}

a {
  text-decoration: none;
  color: #6d6f70;
}
a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  width: 130px;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.btn.large {
  width: 210px;
}
.btn.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  border-bottom: none;
}
.btn.circle .icon {
  color: white;
  font-size: 1.2rem;
}
.btn:not(.circle):hover {
  margin-top: 3px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  opacity: 1;
}
.btn.btn-gray {
  background-color: gray;
  border-bottom-color: #575757;
}
.btn.btn-orange {
  background-color: #eb6100;
  border-bottom-color: #b84c00;
}
.btn.btn-blue {
  background-color: #0099ff;
  border-bottom-color: #005a96;
}
.btn.btn-green {
  background-color: #0f9d58;
  border-bottom-color: #0b6d3e;
}

/************************************************
ヘッダー header
************************************************/
#header {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#header .header-inner #pc-nav .menu-list {
  display: flex;
}
#header .header-inner #pc-nav .menu-list li a {
  display: block;
  padding: 0 15px;
  line-height: 60px;
  position: relative;
  overflow: hidden;
}
#header .header-inner #pc-nav .menu-list li a::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -3px;
  left: 0;
  background-color: #6d6f70;
  height: 3px;
  width: 100%;
  transition: 0.2s;
}
#header .header-inner #pc-nav .menu-list li a:hover::after {
  bottom: 0;
}
#header .header-inner #sp-nav {
  display: none;
}
#header .header-inner #sp-nav #hamburger-menu {
  display: none;
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span {
  position: absolute;
  top: 50%;
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(1) {
  transform: translateY(-50%) rotate(45deg);
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(2) {
  transform: translateY(-50%) rotate(135deg);
}
#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(3) {
  transform: scale(0);
}
#header .header-inner #sp-nav #hamburger-menu:checked ~ .menu-list {
  right: 0;
}
#header .header-inner #sp-nav #hamburger-menu-icon {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  z-index: 100;
}
#header .header-inner #sp-nav #hamburger-menu-icon:hover {
  opacity: 0.7;
}
#header .header-inner #sp-nav #hamburger-menu-icon span {
  display: block;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.5s;
}
#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(1) {
  width: 20px;
  margin-bottom: 5px;
}
#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(2) {
  width: 20px;
  margin-bottom: 5px;
}
#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(3) {
  width: 15px;
}
#header .header-inner #sp-nav .menu-list {
  position: fixed;
  width: 220px;
  height: calc(100vh - 60px);
  top: 60px;
  right: -220px;
  background-color: gray;
  transition: right 0.5s;
  z-index: 10;
}
#header .header-inner #sp-nav .menu-list li a {
  display: block;
  padding: 15px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.5s;
}

/************************************************
メインコンテンツ main
************************************************/
#main {
  margin: 60px auto 0 auto;
  padding: 15px 0;
  width: 100%;
  max-width: 700px;
  height: 550px;
}

/************************************************
ホーム画面 home
************************************************/
#home {
  height: 100%;
}
#home .home-inner {
  height: 100%;
}
#home .home-inner .home-img {
  position: relative;
  display: block;
  height: 100%;
  background-color: #79cbfa;
}
#home .home-inner .home-img:hover {
  opacity: 1;
}
#home .home-inner .home-img .start-text {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

/************************************************
メニュー画面 menu
************************************************/
#menu {
  height: 100%;
}
#menu .menu-inner {
  height: 100%;
}
#menu .menu-inner .menu-select {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#menu .menu-inner .menu-select .menu-item {
  cursor: pointer;
  height: 33.3333333333%;
  position: relative;
}
#menu .menu-inner .menu-select .menu-item .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu .menu-inner .menu-select .menu-item .title .title-en {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
#menu .menu-inner .menu-select .menu-item .title .title-ja {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
#menu .menu-inner .menu-select .menu-item.fill {
  background-color: #f09191;
}
#menu .menu-inner .menu-select .menu-item.fill .title {
  left: 10%;
}
#menu .menu-inner .menu-select .menu-item.quiz {
  background-color: #8383f1;
}
#menu .menu-inner .menu-select .menu-item.quiz .title {
  right: 10%;
}
#menu .menu-inner .menu-select .menu-item.typing {
  background-color: #f8f8a7;
}
#menu .menu-inner .menu-select .menu-item.typing .title {
  left: 10%;
}

/************************************************
設定画面 setting
************************************************/
.setting {
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  position: relative;
}
.setting .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.setting .title .title-ja {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
}
.setting .sub-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.setting .btn-start-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.setting .btn-start-wrapper button {
  margin-bottom: 10px;
}
.setting .btn-start-wrapper .icon {
  margin-right: 5px;
}
.setting .setting-inner {
  max-width: 450px;
  margin: 0 auto;
}
.setting .setting-inner > div {
  margin-bottom: 8px;
}
.setting .setting-inner .setting-target-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.setting .setting-inner .setting-target-area .sub-title {
  width: 100%;
}
.setting .setting-inner .setting-target-area .checkbox-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
}
.setting .setting-inner .setting-target-area .checkbox-wrapper input[type=checkbox] {
  display: none;
}
.setting .setting-inner .setting-target-area .checkbox-wrapper input[type=checkbox]:checked + label {
  color: #7aa3cc;
}
.setting .setting-inner .setting-target-area .checkbox-wrapper input[type=checkbox]:checked + label::before {
  border: 2px solid #7aa3cc;
}
.setting .setting-inner .setting-target-area .checkbox-wrapper input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  transform: rotate(45deg);
  display: inline-block;
  width: 8px;
  height: 18px;
  border-bottom: 4px solid #7aa3cc;
  border-right: 4px solid #7aa3cc;
}
.setting .setting-inner .setting-target-area .checkbox-wrapper label {
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px 5px 25px;
  font-size: 1rem;
  color: #7c7c7c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.setting .setting-inner .setting-target-area .checkbox-wrapper label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid #7c7c7c;
  border-radius: 3px;
}
.setting .setting-inner .setting-common {
  display: flex;
  flex-wrap: wrap;
}
.setting .setting-inner .setting-common .setting-audio {
  width: 50%;
  display: flex;
  align-items: center;
}
.setting .setting-inner .setting-common .setting-audio .checkbox {
  display: none;
}
.setting .setting-inner .setting-common .setting-audio .checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 11px 0px 11px 45px;
  font-size: 1rem;
  font-weight: bold;
}
.setting .setting-inner .setting-common .setting-audio .checkbox + label::before, .setting .setting-inner .setting-common .setting-audio .checkbox + label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.setting .setting-inner .setting-common .setting-audio .checkbox + label::before {
  width: 38px;
  height: 18px;
  left: 0;
  border: 1px solid #e4e3e1;
  border-radius: 18px;
  background-color: #ffffff;
}
.setting .setting-inner .setting-common .setting-audio .checkbox + label::after {
  width: 19px;
  height: 18px;
  left: 0;
  border-radius: 50%;
  background-color: #bdbdbd;
  transition: all 0.3s ease-out;
}
.setting .setting-inner .setting-common .setting-audio .checkbox:checked + label::after {
  left: 19px;
  background-color: #5aaefd;
}
.setting .setting-inner .setting-common .setting-audio .checkbox:not(:checked) ~ .select-wrapper {
  display: none;
}
.setting .setting-inner .setting-common .setting-quiz-count {
  width: 50%;
  display: flex;
  align-items: center;
}
.setting .setting-inner .setting-common .setting-quiz-count label {
  font-size: 1rem;
  font-weight: bold;
}
.setting .setting-inner .setting-common .setting-quiz-count .select-wrapper {
  display: inline-block;
  width: 78px;
  margin-left: 7px;
  position: relative;
  border: 2px solid #5aaefd;
  border-radius: 35px;
  background-color: white;
  z-index: 0;
}
.setting .setting-inner .setting-common .setting-quiz-count .select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #383e45;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: -1;
}
.setting .setting-inner .setting-common .setting-quiz-count .select-wrapper .select {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 4px 30px 4px 10px;
}
.setting .setting-inner .setting-common .setting-time-limit {
  width: 100%;
}
.setting .setting-inner .setting-common .setting-time-limit .checkbox {
  display: none;
}
.setting .setting-inner .setting-common .setting-time-limit .checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 11px 0px 11px 45px;
  font-size: 1rem;
  font-weight: bold;
}
.setting .setting-inner .setting-common .setting-time-limit .checkbox + label::before, .setting .setting-inner .setting-common .setting-time-limit .checkbox + label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.setting .setting-inner .setting-common .setting-time-limit .checkbox + label::before {
  width: 38px;
  height: 18px;
  left: 0;
  border: 1px solid #e4e3e1;
  border-radius: 18px;
  background-color: #ffffff;
}
.setting .setting-inner .setting-common .setting-time-limit .checkbox + label::after {
  width: 19px;
  height: 18px;
  left: 0;
  border-radius: 50%;
  background-color: #bdbdbd;
  transition: all 0.3s ease-out;
}
.setting .setting-inner .setting-common .setting-time-limit .checkbox:checked + label::after {
  left: 19px;
  background-color: #5aaefd;
}
.setting .setting-inner .setting-common .setting-time-limit .checkbox:not(:checked) ~ .select-wrapper {
  display: none;
}
.setting .setting-inner .setting-common .setting-time-limit .select-wrapper {
  display: inline-block;
  width: 78px;
  margin-left: 7px;
  position: relative;
  border: 2px solid #5aaefd;
  border-radius: 35px;
  background-color: white;
  z-index: 0;
}
.setting .setting-inner .setting-common .setting-time-limit .select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #383e45;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: -1;
}
.setting .setting-inner .setting-common .setting-time-limit .select-wrapper .select {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 4px 30px 4px 10px;
}
.setting .setting-inner .setting-answer-method .radio-wrapper,
.setting .setting-inner .setting-choice-type .radio-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.setting .setting-inner .setting-answer-method .radio-wrapper input,
.setting .setting-inner .setting-choice-type .radio-wrapper input {
  display: none;
}
.setting .setting-inner .setting-answer-method .radio-wrapper input:checked + label,
.setting .setting-inner .setting-choice-type .radio-wrapper input:checked + label {
  background-color: #5aaefd;
  border: 3px solid #0b88fd;
  color: white;
}
.setting .setting-inner .setting-answer-method .radio-wrapper input:checked + label:hover,
.setting .setting-inner .setting-choice-type .radio-wrapper input:checked + label:hover {
  opacity: 1;
}
.setting .setting-inner .setting-answer-method .radio-wrapper label,
.setting .setting-inner .setting-choice-type .radio-wrapper label {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  max-width: 250px;
  width: calc(50% - 10px);
  padding: 7px;
  margin: 5px;
  border: 3px solid transparent;
  border-radius: 5px;
  background-color: #dfdfdf;
  font-size: 1rem;
  transition: 0.4s;
}
.setting .setting-inner .setting-answer-method .radio-wrapper label:hover,
.setting .setting-inner .setting-choice-type .radio-wrapper label:hover {
  opacity: 0.7;
}

/************************************************
地図埋め画面 fill-map
************************************************/
#fill-map {
  height: 100%;
}
#fill-map .fill-map-inner {
  height: 100%;
}
#fill-map .fill-map-inner .game {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fill-map .fill-map-inner .game .map-wrapper {
  height: 90%;
  position: relative;
}
#fill-map .fill-map-inner .game .map-wrapper .zoom-slider-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area {
  position: absolute;
  top: 0;
  left: 0;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table td,
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table th {
  padding: 10px;
  margin-bottom: 7px;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table td {
  color: #7c7c7c;
  text-align: right;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table th {
  border-radius: 5px;
  border: 1px solid #7c7c7c;
  text-align: center;
  color: white;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table th.disabled {
  background-color: #8b9c97;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table th.blank {
  background-color: white;
  color: #7c7c7c;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table th.inputed {
  background-color: #4370d1;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table th.correct {
  background-color: #7be0bf;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .info-table th.incorrect {
  background-color: #eb9696;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .circle {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #fc3434;
  position: relative;
  visibility: hidden;
  -webkit-animation: stamp 0.5s 0.5s ease-in forwards;
          animation: stamp 0.5s 0.5s ease-in forwards;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .circle .circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 2px solid #fc3434;
}
#fill-map .fill-map-inner .game .map-wrapper .info-area .circle .circle-inner .evaluation-text {
  width: 85%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fc3434;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg {
  height: 100%;
  width: 100%;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1 {
  fill: #fff;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1:hover {
  fill: #2fc291;
  opacity: 0.7;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1.disabled {
  fill: #8b9c97 !important;
  opacity: 1 !important;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1.disabled:hover {
  fill: #8b9c97 !important;
  opacity: 1 !important;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1.inputed {
  fill: #4370d1;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1.fill {
  fill: #2fc291;
  opacity: 0.7;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1[data-name=siga-2]:hover {
  fill: #fff;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1.correct {
  fill: #7be0bf;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1.incorrect {
  fill: #eb9696;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-1,
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-2 {
  stroke: #7c7c7c;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.48px;
  fill-rule: evenodd;
}
#fill-map .fill-map-inner .game .map-wrapper #japan-map-svg .cls-2 {
  fill: none;
}
#fill-map .fill-map-inner .game .btn-wrapper {
  height: 10%;
}

/************************************************
地図クイズ画面 quiz-map
************************************************/
#quiz-map {
  height: 100%;
}
#quiz-map .quiz-map-inner {
  height: 100%;
}
#quiz-map .quiz-map-inner .game {
  height: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#quiz-map .quiz-map-inner .game .img-wrapper {
  display: flex;
  justify-content: center;
  height: 30%;
  margin-bottom: 20px;
}
#quiz-map .quiz-map-inner .game .img-wrapper .svg-default {
  fill: #2fc291;
  stroke: #7c7c7c;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.48px;
  fill-rule: evenodd;
}
#quiz-map .quiz-map-inner .game .hint-wrapper {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto 10px auto;
  border: 2px dotted #67aff3;
  border-radius: 10px;
  position: relative;
}
#quiz-map .quiz-map-inner .game .hint-wrapper .title {
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 10px;
  padding: 0 8px;
  background-color: white;
  font-size: 1.1rem;
  font-weight: bold;
  color: #67aff3;
}
#quiz-map .quiz-map-inner .game .hint-wrapper .title .icon {
  margin-right: 5px;
}
#quiz-map .quiz-map-inner .game .hint-wrapper .btn-wrapper {
  display: flex;
}
#quiz-map .quiz-map-inner .game .hint-wrapper .btn-wrapper .btn:first-of-type {
  margin-right: 40px;
}
#quiz-map .quiz-map-inner .game .hint-wrapper .hint-text {
  font-size: 1rem;
}
#quiz-map .quiz-map-inner .game .choices {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
#quiz-map .quiz-map-inner .game .choices .item {
  width: calc(50% - 20px);
  margin: 10px;
  display: flex;
  justify-content: center;
}
#quiz-map .quiz-map-inner .game .choices .item input[type=radio] {
  display: none;
}
#quiz-map .quiz-map-inner .game .choices .item input[type=radio]:checked + label:not(.judge) {
  background-color: #99cbfa;
}
#quiz-map .quiz-map-inner .game .choices .item label {
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  display: inline-block;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #7c7c7c;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
#quiz-map .quiz-map-inner .game .choices .item label.judge.correct {
  background-color: #7be0bf;
}
#quiz-map .quiz-map-inner .game .choices .item label.judge.incorrect {
  background-color: #eb9696;
}
#quiz-map .quiz-map-inner .game .judge-text {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e75454;
  margin-bottom: 10px;
}
#quiz-map .quiz-map-inner .game .judge-text.correct {
  color: #1eb986;
}
#quiz-map .quiz-map-inner .game .btn-wrapper {
  display: flex;
  justify-content: center;
}
#quiz-map .quiz-map-inner .result {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#quiz-map .quiz-map-inner .result .table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
}
#quiz-map .quiz-map-inner .result .table th,
#quiz-map .quiz-map-inner .result .table td {
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  border-left: 2px solid #7c7c7c;
  border-top: 2px solid #7c7c7c;
}
#quiz-map .quiz-map-inner .result .table th .correct,
#quiz-map .quiz-map-inner .result .table td .correct {
  color: #1eb986;
}
#quiz-map .quiz-map-inner .result .table th:last-of-type {
  border-bottom: 2px solid #7c7c7c;
}
#quiz-map .quiz-map-inner .result .table td {
  border-right: 2px solid #7c7c7c;
}
#quiz-map .quiz-map-inner .result .table td:last-of-type {
  border-bottom: 2px solid #7c7c7c;
}
#quiz-map .quiz-map-inner .result .table td .incorrect-item-wrapper {
  display: block;
  overflow-y: auto;
  height: 50px;
  text-align: left;
}
#quiz-map .quiz-map-inner .result .table td .incorrect-item-wrapper span {
  cursor: pointer;
  display: inline-block;
  padding: 5px 8px;
  margin: 10px 10px 0 0;
  border-radius: 10px;
  color: white;
  background-color: #eb9696;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#quiz-map .quiz-map-inner .result .evaluation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#quiz-map .quiz-map-inner .result .evaluation-wrapper .circle {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #fc3434;
  position: relative;
  visibility: hidden;
  -webkit-animation: stamp 0.5s 0.5s ease-in forwards;
          animation: stamp 0.5s 0.5s ease-in forwards;
}
#quiz-map .quiz-map-inner .result .evaluation-wrapper .circle .circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 2px solid #fc3434;
}
#quiz-map .quiz-map-inner .result .evaluation-wrapper .circle .circle-inner .evaluation-text {
  width: 85%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fc3434;
}
#quiz-map .quiz-map-inner .result .evaluation-wrapper .btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#quiz-map .quiz-map-inner .result .evaluation-wrapper .btn-wrapper .btn:first-child {
  margin-bottom: 15px;
}

/************************************************
地図タイピング画面 typing-map
************************************************/
#typing-map {
  height: 100%;
}
#typing-map .typing-map-inner {
  height: 100%;
}
#typing-map .typing-map-inner .count-down {
  width: 100%;
  height: 100%;
  position: relative;
}
#typing-map .typing-map-inner .count-down p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  color: orange;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#typing-map .typing-map-inner .count-down p:nth-child(1) {
  -webkit-animation: count-down 1s 0s;
          animation: count-down 1s 0s;
}
#typing-map .typing-map-inner .count-down p:nth-child(2) {
  -webkit-animation: count-down 1s 1s;
          animation: count-down 1s 1s;
}
#typing-map .typing-map-inner .count-down p:nth-child(3) {
  -webkit-animation: count-down 1s 2s;
          animation: count-down 1s 2s;
}
@-webkit-keyframes count-down {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes count-down {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
#typing-map .typing-map-inner .game {
  height: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  position: relative;
}
#typing-map .typing-map-inner .game .info-table-wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
}
#typing-map .typing-map-inner .game .info-table-wrapper .table {
  border-collapse: collapse;
}
#typing-map .typing-map-inner .game .info-table-wrapper .table th,
#typing-map .typing-map-inner .game .info-table-wrapper .table td {
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-left: 2px solid #7c7c7c;
  border-right: 2px solid #7c7c7c;
}
#typing-map .typing-map-inner .game .info-table-wrapper .table th {
  border-top: 2px solid #7c7c7c;
}
#typing-map .typing-map-inner .game .info-table-wrapper .table td {
  border-top: 2px dotted #7c7c7c;
}
#typing-map .typing-map-inner .game .info-table-wrapper .table td:last-of-type {
  border-bottom: 2px solid #7c7c7c;
}
#typing-map .typing-map-inner .game .info-table-wrapper .table td.correct {
  color: #1eb986;
}
#typing-map .typing-map-inner .game .info-table-wrapper .table td.miss {
  color: #e75454;
}
#typing-map .typing-map-inner .game .img-wrapper {
  height: 35%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#typing-map .typing-map-inner .game .img-wrapper .svg-default {
  fill: #2fc291;
  stroke: #7c7c7c;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.48px;
  fill-rule: evenodd;
}
#typing-map .typing-map-inner .game .progress {
  display: inline-block;
  width: 100%;
  border-radius: 15px;
  height: 10px;
  background-color: #e9edf1;
  position: relative;
  margin-bottom: 20px;
}
#typing-map .typing-map-inner .game .progress .progress-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 0%;
  height: 100%;
  background-color: #00e664;
  transition: all 10ms linear;
}
#typing-map .typing-map-inner .game .hint-wrapper {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
}
#typing-map .typing-map-inner .game .hint-wrapper .hint {
  font-size: 1.4rem;
  padding: 10px;
  color: #5aaefd;
}
#typing-map .typing-map-inner .game .hint-wrapper .hint.hidden {
  visibility: hidden;
}
#typing-map .typing-map-inner .game .hint-wrapper .hint .icon {
  color: #fdae4d;
  margin-right: 10px;
}
#typing-map .typing-map-inner .game .text-wrapper {
  padding: 20px;
  border-radius: 10px;
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#typing-map .typing-map-inner .game .text-wrapper .typing {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 0.5rem;
}
#typing-map .typing-map-inner .game .text-wrapper .typing .inputed {
  color: orange;
}
#typing-map .typing-map-inner .game .text-wrapper .typing .remaining {
  color: #7c7c7c;
}
#typing-map .typing-map-inner .game .text-wrapper .typing .remaining.hidden {
  visibility: hidden;
}
#typing-map .typing-map-inner .game .text-wrapper .kana {
  font-size: 1.4rem;
  color: #7c7c7c;
  margin-bottom: 5px;
}
#typing-map .typing-map-inner .game .text-wrapper .kana.hidden {
  visibility: hidden;
}
#typing-map .typing-map-inner .game .text-wrapper .quiz {
  font-size: 1.6rem;
  color: #7c7c7c;
}
#typing-map .typing-map-inner .game .text-wrapper .quiz.hidden {
  visibility: hidden;
}
#typing-map .typing-map-inner .result {
  height: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#typing-map .typing-map-inner .result .table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
}
#typing-map .typing-map-inner .result .table th,
#typing-map .typing-map-inner .result .table td {
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  border-left: 2px solid #7c7c7c;
  border-top: 2px solid #7c7c7c;
}
#typing-map .typing-map-inner .result .table th.correct,
#typing-map .typing-map-inner .result .table td.correct {
  color: #1eb986;
}
#typing-map .typing-map-inner .result .table th.miss,
#typing-map .typing-map-inner .result .table td.miss {
  color: #e75454;
}
#typing-map .typing-map-inner .result .table th:last-of-type {
  border-bottom: 2px solid #7c7c7c;
}
#typing-map .typing-map-inner .result .table td {
  border-right: 2px solid #7c7c7c;
}
#typing-map .typing-map-inner .result .table td:last-of-type {
  border-bottom: 2px solid #7c7c7c;
}
#typing-map .typing-map-inner .result .table td .incorrect-item-wrapper {
  display: block;
  overflow-y: auto;
  height: 50px;
  text-align: left;
}
#typing-map .typing-map-inner .result .table td .incorrect-item-wrapper span {
  cursor: pointer;
  display: inline-block;
  padding: 5px 8px;
  margin: 10px 10px 0 0;
  border-radius: 10px;
  color: white;
  background-color: #eb9696;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
#typing-map .typing-map-inner .result .evaluation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#typing-map .typing-map-inner .result .evaluation-wrapper .circle {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #fc3434;
  position: relative;
  visibility: hidden;
  -webkit-animation: stamp 0.5s 0.5s ease-in forwards;
          animation: stamp 0.5s 0.5s ease-in forwards;
}
#typing-map .typing-map-inner .result .evaluation-wrapper .circle .circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 2px solid #fc3434;
}
#typing-map .typing-map-inner .result .evaluation-wrapper .circle .circle-inner .evaluation-text {
  width: 85%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fc3434;
}
#typing-map .typing-map-inner .result .evaluation-wrapper .btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#typing-map .typing-map-inner .result .evaluation-wrapper .btn-wrapper .btn:first-child {
  margin-bottom: 15px;
}

/************************************************
フッター footer
************************************************/
#footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  height: 50px;
}
#footer .footer-inner .copyright {
  font-size: 0.9rem;
  color: white;
}
#footer .footer-inner .copyright .icon {
  margin-right: 5px;
}

/************************************************
modal
************************************************/
#alert-modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}
#alert-modal-mask .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
#alert-modal-mask .modal-wrapper .modal-container {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
  padding: 25px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  position: relative;
}
#alert-modal-mask .modal-wrapper .modal-container .closeBtn {
  position: absolute;
  top: 7px;
  right: 7px;
}
#alert-modal-mask .modal-wrapper .modal-container .closeBtn .icon {
  font-size: 1.2rem;
  color: #7c7c7c;
  cursor: pointer;
}
#alert-modal-mask .modal-wrapper .modal-container .closeBtn .icon:hover {
  opacity: 0.7;
}
#alert-modal-mask .modal-wrapper .modal-container .message {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}
#alert-modal-mask .modal-wrapper .modal-container .btn-wrapper {
  display: flex;
  justify-content: center;
}

#input-modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}
#input-modal-mask .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
#input-modal-mask .modal-wrapper .modal-container {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
  padding: 25px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  position: relative;
}
#input-modal-mask .modal-wrapper .modal-container .closeBtn {
  position: absolute;
  top: 7px;
  right: 7px;
}
#input-modal-mask .modal-wrapper .modal-container .closeBtn .icon {
  font-size: 1.2rem;
  color: #7c7c7c;
  cursor: pointer;
}
#input-modal-mask .modal-wrapper .modal-container .closeBtn .icon:hover {
  opacity: 0.7;
}
#input-modal-mask .modal-wrapper .modal-container .img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#input-modal-mask .modal-wrapper .modal-container .img-wrapper .svg-default {
  width: 100%;
  fill: #fff;
  stroke: #7c7c7c;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.48px;
  fill-rule: evenodd;
}
#input-modal-mask .modal-wrapper .modal-container .img-wrapper .svg-default.correct {
  fill: #7be0bf;
}
#input-modal-mask .modal-wrapper .modal-container .img-wrapper .svg-default.incorrect {
  fill: #eb9696;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name {
  margin-bottom: 15px;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name input[type=text] {
  display: block;
  width: 160px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #6d6f70;
  font-size: 1.2rem;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name input[type=text]:focus {
  outline: none;
  border-color: dodgerBlue;
  box-shadow: 0 0 5px 0 dodgerBlue;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name input[type=text]::-moz-placeholder {
  font-size: 1rem;
  color: #afaeae;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name input[type=text]:-ms-input-placeholder {
  font-size: 1rem;
  color: #afaeae;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name input[type=text]::placeholder {
  font-size: 1rem;
  color: #afaeae;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name .select-wrapper {
  display: inline-block;
  width: 120px;
  position: relative;
  border: 2px solid #5aaefd;
  border-radius: 35px;
  background-color: white;
  z-index: 0;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name .select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid #383e45;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: -1;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .input-place-name .select-wrapper .select {
  width: 100%;
  cursor: pointer;
  color: #6d6f70;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 4px 30px 4px 10px;
}
#input-modal-mask .modal-wrapper .modal-container .mode-input .btn-wrapper {
  display: flex;
  justify-content: center;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .typing .roman {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .typing .kana {
  font-size: 1rem;
  margin-bottom: 2px;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .typing .name {
  font-size: 1.3rem;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .answer {
  width: 50%;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .answer .title {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 15px;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .answer .text {
  text-align: center;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .answer .text span {
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  background-position: 0% 0%;
  background-size: 0% auto;
  background-image: linear-gradient(to bottom, transparent 60%, #7be0bf 40%);
  -webkit-animation: draw-line 0.7s ease-out forwards;
          animation: draw-line 0.7s ease-out forwards;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .answer .text span.incorrect {
  background-image: linear-gradient(to bottom, transparent 60%, #eb9696 40%);
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .correct {
  width: 50%;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .correct .title {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 15px;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .correct .text {
  text-align: center;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .confirm .correct .text span {
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(to bottom, transparent 60%, #7be0bf 40%);
  background-position: 0% 0%;
  background-size: 0% auto;
  -webkit-animation: draw-line 0.7s ease-out forwards;
          animation: draw-line 0.7s ease-out forwards;
}
#input-modal-mask .modal-wrapper .modal-container .mode-confirm .btn-wrapper {
  display: flex;
  justify-content: center;
}

#confirmation-modal-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}
#confirmation-modal-mask .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
#confirmation-modal-mask .modal-wrapper .modal-container {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
  padding: 25px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#confirmation-modal-mask .modal-wrapper .modal-container .closeBtn {
  position: absolute;
  top: 7px;
  right: 7px;
}
#confirmation-modal-mask .modal-wrapper .modal-container .closeBtn .icon {
  font-size: 1.2rem;
  color: #7c7c7c;
  cursor: pointer;
}
#confirmation-modal-mask .modal-wrapper .modal-container .closeBtn .icon:hover {
  opacity: 0.7;
}
#confirmation-modal-mask .modal-wrapper .modal-container .empty-message {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
#confirmation-modal-mask .modal-wrapper .modal-container .empty-message span {
  color: #eb9696;
  font-weight: bold;
  margin: 0 5px;
}
#confirmation-modal-mask .modal-wrapper .modal-container .confirmation-message {
  font-size: 1rem;
  margin-bottom: 15px;
}
#confirmation-modal-mask .modal-wrapper .modal-container .btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#confirmation-modal-mask .modal-wrapper .modal-container .btn-wrapper .btn:first-of-type {
  margin-bottom: 15px;
}

/************************************************
keyframes
************************************************/
@-webkit-keyframes draw-line {
  0% {
    background-size: 0% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
@keyframes draw-line {
  0% {
    background-size: 0% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
@-webkit-keyframes stamp {
  0% {
    visibility: visible;
    opacity: 0;
    transform: rotate(-30deg) scale(4);
  }
  50% {
    visibility: visible;
    opacity: 0.8;
    transform: rotate(-15deg) scale(2);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}
@keyframes stamp {
  0% {
    visibility: visible;
    opacity: 0;
    transform: rotate(-30deg) scale(4);
  }
  50% {
    visibility: visible;
    opacity: 0.8;
    transform: rotate(-15deg) scale(2);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}
/************************************************
メディアクエリ
************************************************/
@media screen and (max-width: 599px) {
  /************************************************
  ヘッダー header
  ************************************************/
  #header .header-inner #pc-nav {
    display: none;
  }
  #header .header-inner #sp-nav {
    display: block;
  }

  .setting .setting-inner .setting-target-area .checkbox-wrapper {
    width: 33.3333333333%;
  }
  .setting .setting-inner .setting-common .setting-audio {
    width: 100%;
  }
  .setting .setting-inner .setting-common .setting-quiz-count {
    width: 100%;
    order: -1;
  }

  #quiz-map .quiz-map-inner .game .img-wrapper {
    height: 25%;
    margin-bottom: 15px;
  }
  #quiz-map .quiz-map-inner .result .table th {
    font-size: 1rem;
    padding: 10px 5px;
  }
  #quiz-map .quiz-map-inner .result .evaluation-wrapper .circle {
    width: 110px;
    height: 110px;
  }
  #quiz-map .quiz-map-inner .result .evaluation-wrapper .circle .circle-inner .evaluation-text {
    font-size: 0.8rem;
  }

  #typing-map .typing-map-inner .game .img-wrapper {
    height: 28%;
  }
  #typing-map .typing-map-inner .result .table th {
    font-size: 1rem;
    padding: 10px 5px;
  }
  #typing-map .typing-map-inner .result .evaluation-wrapper .circle {
    width: 110px;
    height: 110px;
  }
  #typing-map .typing-map-inner .result .evaluation-wrapper .circle .circle-inner .evaluation-text {
    font-size: 0.8rem;
  }
}
